<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Book Store</title>
    <link rel="stylesheet" href="/css/mystyles.css">
    <script src="/js/myscripts.js"></script>
</head>
<body>
    <ul id="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/contact-us">Contact Us</a></li>
    </ul>
    <h1>My Book Store</h1>
    <p>This is my awesome store</p>
</body>
</html>