<div class="container">
    <div class="row align-items-center my-5">
        <div class="col-lg-6 mb-4 mb-lg-0">
            <img class="img-fluid rounded shadow" src="/images/team.jpg" alt="Team working">
        </div>
        <div class="col-lg-6">
            <h1 class="font-weight-light">About TechStore</h1>
            <p class="mt-4">Founded in 2026, TechStore is dedicated to bringing you the latest and greatest in consumer electronics. We believe that technology should be accessible to everyone, and we strive to offer the best prices and customer service in the industry.</p>
            <p>Our team of tech enthusiasts is constantly testing new products to ensure that we only sell what we would use ourselves. From smartwatches to mechanical keyboards, we've got you covered.</p>
        </div>
    </div>
</div>
